<section class="p-4 m-auto max-w-screen-xl my-5">
    <h2 class="text-white text-2xl "><%= title %></h2>

    <div class="flex space-x-4 overflow-auto pb-5 snap-x  pt-10">

      <% for (let i = 0; i < dataCarousel.length; i++) { %>

        <% const currentItem = dataCarousel[i]; %>
        <% if (currentItem && currentItem.name) { %>

          <% const name = currentItem.name.replace(/ /g, '-').toLowerCase(); %>
          <a href="/download/<%= name %>" class="rounded-md overflow-hidden  hover:scale-105 duration-300  w-52 h-72 bg-black  flex-none ">
            <img src="/cover/<%= currentItem.img %>" alt="" class="h-full w-full object-cover">
          </a>
          
        <% } %>

      <% } %>
             
    </div>
</section>
