<div class="md:w-52 md:h-72 w-40 h-60  bg-black m-auto rounded-md overflow-hidden hover:scale-105 duration-300 flex-none">
    <a href="/download/<%= name %>" title="capa do jogo <%= name %>">
      <img src="/cover/<%= img %>" alt="" class="h-full w-full object-cover">
    </a>
</div>