<div class="w-52 h-72   bg-black m-auto rounded-md overflow-hidden hover:scale-105 duration-300 flex-none">
    <a href="/download/<%= name %>">
      <img src="/cover/<%= img %>" alt="" class="h-full w-full object-cover">
    </a>
</div>