<section class="max-w-screen-xl m-auto my-5 ">

  <h2 class="text-white text-2xl md:mb-5 md:ml-0 ml-4 "><%= title%></h2>

  <div class="border-black p-4  grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5  gap-5 ">

    <% for (let i=0; i < data.length; i++) { %>

      <% const name=data[i].name.replace(/ /g, '-' ).toLowerCase(); %>
      <%- include('./cover.ejs', { 
        name: name, 
        img: data[i].img, 
        downloads: data[i].download, 
        views: data[i].views 
        })
      %>

    <% } %>

  </div>
</section>