<section class="space-y-4 max-w-screen-xl m-auto my-10">
    <h2 class="text-center">Palavras chave</h2>
    <hr>
  

  
    <ul class="flex flex-wrap md:gap-2 gap-1 p-2 overflow-hidden">

        <% const keysWords = ['torrent', 'pc torrent', 'utorrent portugues', 'para torrent', 'baixar', 'rom torrent', 'full torrent', 'baixar grátis', 'download grátis', 'pc download torrent', 'bittorrent', 'baixar bittorrent', 'download torrent', 'crack', 'playtorrent', 'magnet', 'torrent magnet', 'utorrent', 'baixar jogo']%>
        <% for( let i = 0; i < keysWords.length; i++ ) { %>
            <li class="flex-none md:px-2 md:py-1 md:bg-gray-600 text-base "><%= name + ' ' + keysWords[i] %></li>
        <% } %>
    </ul>


</section>