<nav class="w-full bg-blue-950 border-black p-4 flex items-center justify-between">
    <a href="/" class="flex items-center space-x-4">
        <img src="/LOGO.png" alt="" class=" h-16">
        <h2 class="text-4xl text-white font-semibold">PLAYTORRENT</h2>
    </a>

    <div class="w-1/3 bg-white overflow-hidden rounded-md">
        <input type="text" placeholder="Pesquisar" class="px-4 py-2 w-full border border-black focus:outline-none">
    </div>

    <ul class="flex borde p-4 space-x-2 text-white">
        <li><a href="/">Home</a></li>
    </ul>
</nav>