<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXNEHR3E8D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NXNEHR3E8D');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Pagina não encontrada</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body class="bg-gray-300">


    <div class="flex items-center justify-center h-screen ">
        <div class="text-center">
            <h2 class="text-4xl text-gray-700 font-semibold mb-4">404 - Página não encontrada :(</h2>
            <% if (msg) { %>
             
                <p class="text-gray-600"><%= msg %></p>
    
            <% } else { %> 

                <p class="text-gray-600">A página que você está procurando pode ter sido removida ou não está mais disponível.</p>
            <% } %>
             
             
            <br>
            <span class="text-gray-600 text-xl">Visite nossa</span>
            <a href="/" class="text-xl text-blue-700"> Home</a>

            <% 
                function gifRandom() {
                    let num = Math.floor(Math.random() * 12) + 1;
                    return '/404/'+num + '.gif';
                }
            
                let randomGif = gifRandom();


                
            %>
        
        <img src="<%= randomGif %>" alt="gif" class="w-96 aspect-square m-auto my-5 object-cover">
        

        </div>
    </div>
    
</body>
</html>

<script>
    setTimeout(()=>{
        window.location.href = '/';
    }, 3000)
</script>