<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analytics</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-gray-100 p-8">
  <div class="max-w-screen-xl mx-auto h-auto bg-white p-6 rounded-md shadow-md ">
      
    <input type="date" id="filterDate">
    <button onclick="reloadWithDate()" class="bg-blue-200 px-4 py-1 text-blue-600 font-semibold border border-blue-600">Filtrar</button><br>
    <script>
      function reloadWithDate() {
        const filterDate = document.getElementById('filterDate').value;
        const url = `/analytics/${filterDate}`;
        window.location.href = url;
      }
    </script>

    <h1 class="text-2xl font-bold mb-4">Visualizações de Jogos</h1>
    <h1 class="text-2xl font-bold mb-4">Total: <%= totalViews %></h1>

    <canvas id="myChart" style="max-height: 2000px;"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
            const data = JSON.parse('<%- JSON.stringify(data) %>');
          
            const ctx = document.getElementById('myChart').getContext('2d');
            const maxBars = 50; // Número máximo de barras a serem exibidas
            const myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: data.map(game => game.name).slice(0, maxBars), // Limita o número de barras
                datasets: [{
                  label: 'Visualizações',
                  data: data.map(game => game.views).slice(0, maxBars), // Limita o número de barras
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                indexAxis: 'y', // Define o eixo de indexação como Y
                scales: {
                  x: {
                    beginAtZero: true
                  },
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          });
        </script>

    </div>

</body>
</html>

