<!-- comentarios.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coment치rios dos Jogos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Coment치rios dos Jogos</h1>

    <% if (array.length === 0) { %>
        <p>Nenhum jogo com coment치rios encontrado.</p>
    <% } else { %>
        <ul class="p-5">
            <% array.forEach(jogo => { %>
                <li>
                    <strong>Nome do Jogo:</strong> <%= jogo.name %> <!-- Substitua "nome" pelo campo correto em seu esquema de dados -->
                    <br>
                    <strong>ID do Jogo:</strong> <%= jogo._id %>
                    <br>
                    <strong>Coment치rios:</strong>
                    <ul>
                        <% jogo.comments.forEach(comentario => { %>
                            <li class="ml-10"><span class="bg-yellow-500"><%= comentario.user %>:</span> <%= comentario.commit %></li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>
