<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYTORRENT</title>
    <meta name="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo.">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gray-900">
    <%- include('./components/navbar.ejs') %>
    <h2 class="text-white">ESTAMOS EM REFORMA....</h2>
    <%- include('./components/grid.ejs', {data: data}) %>
    <%- include('./components/pagination.ejs', { page: page, totalPages: 150 }) %>
    <%- include('./components/footer.ejs') %>
</body>
</html>
