<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXNEHR3E8D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NXNEHR3E8D');
    </script>

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3260819922434722"
    crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRAR</title>
    <meta name="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body class="bg-gray-900 flex items-center justify-center h-screen">
    <div  class="bg-white p-8 md:w-96 rounded-md shadow-md space-y-8">

        <div class=" flex items-center justify-center space-x-5">
            <img src="/LOGO.png" alt="ir para home" class=" h-14 w-14">
            <h2 class="text-center text-2xl">Criar Conta</h2>
        </div>

        <div>
            <label for="userName">Usuario:</label><br>
            <input id="userName" type="text" placeholder="Usuario" class="border px-4 py-2 w-full bg-gray-50">
        </div>

        <div>
            <label for="password">Senha:</label><br>
            <input id="password" type="text" placeholder="Usuario" class="border px-4 py-2 w-full bg-gray-50">
        </div>
        <div>
            <label for="">Confirme a senha:</label><br>
            <input type="text" placeholder="Usuario" class="border px-4 py-2 w-full bg-gray-50">
        </div>

        <button onclick="register()" class="bg-blue-500 hover:bg-blue-600 hover:shadow-md w-full py-2 text-white text-xl">Entrar</button>

        <p class="text-center">Ja tem uma conta?  <a href="/auth/entrar" class="text-blue-500">Fazer login</a></p>

    </div>
</body>
</html>


<script src="/js/saveCookie.js"></script>
<script>
    function register() {
        let data = {
            name: document.getElementById('userName').value,
            password: document.getElementById('password').value
        };
        if(!data.name){
            return alert('Digite seu nome de usuario')
        }
        else if (!data.password){
            return alert('Digite sua senha')
        }

        fetch('/authentication/register', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(responseData => {

            if(responseData.msg == 'Por favor, utilize outro nome'){
                alert('Por favor, utilize outro nome!')
            }else{
                saveCookie('tokenUser', responseData.token, 30)
                window.open('/');
            }
        })

    }
</script>


