<!-- views.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Visitas</title>
        
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body class="bg-gray-100 font-sans">

    <div class="container mx-auto my-8 p-8 bg-white rounded-lg shadow-md max-w-screen-sm">
        <h1 class="text-4xl font-bold mb-8 text-blue-950">Relatório de Visitas</h1>

        <table class="w-full table-auto border border-gray-200">
            <thead>
                <tr class="bg-blue-100">
                    <th class="py-4 px-6 border-b border-blue-200">DIA</th>
                    <th class="py-4 px-6 border-b border-blue-200">TOTAL DE VISITAS</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr class="hover:bg-blue-50 text-center">
                        <td class="py-4 px-6 border-b border-blue-200"><%= item.date.toLocaleDateString('pt-BR') %></td>
                        <td class="py-4 px-6 border-b border-blue-200"><%= item.views %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
