<nav class="w-full bg-blue-950 border-black p-4 flex items-center justify-between">
    <img src="#" alt="" class=" bg-green-800 w-40 h-10  border-black">

    <input type="text" class="px-4 py-2 bg-white focus:outline-none">

    <ul class="flex border bg-white p-4 space-x-2">
        <li><a href="/">Home</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>